[Desktop Entry]
Name=GNOME Breakout
Name[tr]=Gnome Breakout
Name[de]=GNOME Breakout
Comment=Play a clone of the classic arcade game Breakout for GNOME
Comment[tr]=Breakout klasiðinin Gnome teþkili
Comment[de]=Das klassische Arcade Spiel Breakout für GNOME
Exec=gnome-breakout
Icon=gnome-breakout.png
Terminal=false
Type=Application
Categories=Game;ArcadeGame;
