<?xml version='1.0' encoding='utf-8' ?>
<!DOCTYPE chapter PUBLIC "-//OASIS//DTD DocBook XML V4.5//EN" "http://www.oasis-open.org/docbook/xml/4.5/docbookx.dtd" [
<!ENTITY % BOOK_ENTITIES SYSTEM "AppStream.ent">
%BOOK_ENTITIES;
]>

<section id="sect-ComposeHints">
	<title>Compose Hints</title>

	<section id="compose-hints-intro">
		<title>Introduction</title>
		<para>
			The AppStream Compose utility <command>appstreamcli compose</command> can be used to construct
			AppStream catalog metadata from a set of directories and other sources containing MetaInfo files.
		</para>
		<para>
			While compositing the final data, a variety of hints can be emitted.
		</para>
	</section>

	<section id="compose-hints-list">
		<title>Compose Hints List</title>

		<para>
			This is a list of all possible validation issues that <code>appstreamcli</code> can detect.
		</para>

		<variablelist>
			{{hints_list}}
		</variablelist>

	</section>
</section>
